body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #dac3ba;
    color: #4b2e2b;
}
.nav {
            background: #ffb48a;
            padding: 15px 0;
            text-align: center;
            box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
        }
        .nav a {
            margin: 0 20px;
            text-decoration: none;
            font-weight: 600;
            color: #5a2a00;
            font-size: 18px;
        }
        .nav a:hover {
            color: #fff;
        }

 
h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 15px;
}
