body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background: #dac3ba;
    color: #4b2e2b;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 15px;
}