*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}
html{
    font-size: 62.5;
}
body{
    height: 100vh;
    display: grid;
    place-items: center;

}
.nav {
            background: #ffb48a;
            padding: 15px 0;
            text-align: center;
            box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
        }
        .nav a {
            margin: 0 20px;
            text-decoration: none;
            font-weight: 600;
            color: #5a2a00;
            font-size: 18px;
        }
        .nav a:hover {
            color: #fff;
        }

 
h2{
    font-size: 2.4rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
p,a {
    font-size: 1.7rem;
}
.feedback-section{
    box-shadow: rgba(99,99,99,0.2)0px 2px 8px 0px;
    padding: 3.2rem;
}
.rating{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:3.2rem;
    margin: 4.8rem 0 3.2rem 0;
}
:is(.unhappy, .happy, .satisfied)  h3{
    text-align: center;
}
:is(.unhappy, .happy, .satisfied) p:first-child{
    background-color: #fff1c9;
    border-radius: 1rem;
    font-size: 5.6rem;
    padding: 1.6rem 2.4rem;
    cursor: pointer;
    margin-bottom: 1.2rem;
    transition: all .3s linear;
}
:is(.unhappy, .happy, .satisfied) p:first-child:hover{
    scale: 1.05;
    box-shadow: rgba(0, 0, 0, 0.16)0px 1px 4px, rgb(51, 51, 51) 0px, 0
}
