ody {
    background: #fff7f4;
    font-family: Arial, sans-serif;
    padding: 20px;
    color: #4b2e2b;
}
.nav {
            background: #ffb48a;
            padding: 15px 0;
            text-align: center;
            box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
        }
        .nav a {
            margin: 0 20px;
            text-decoration: none;
            font-weight: 600;
            color: #5a2a00;
            font-size: 18px;
        }
        .nav a:hover {
            color: #fff;
        }

 

.title {
    text-align: center;
    font-size: 30px;
}

.subtitle {
    text-align: center;
    margin-bottom: 20px;
    font-size: 16px;
}

.order-box {
    width: 85%;
    max-width: 450px;
    margin: auto;
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 8px rgba(0,0,0,0.15);
}

.order-box label {
    font-size: 14px;
    margin-top: 10px;
    display: block;
}

.order-box input,
.order-box textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #d1b6b0;
    font-size: 15px;
}

.order-box textarea {
    height: 80px;
}

.order-btn {
    width: 100%;
    padding: 12px;
    background: #4b2e2b;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
}

.order-btn:hover {
    background: #73433e;
}

/* Popup Styling */
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
.nav {
            background: #ffb48a;
            padding: 15px 0;
            text-align: center;
            box-shadow: 0px 3px 8px rgba(0,0,0,0.1);
        }
        .nav a {
            margin: 0 20px;
            text-decoration: none;
            font-weight: 600;
            color: #5a2a00;
            font-size: 18px;
        }
        .nav a:hover {
            color: #fff;
        }

.popup-content {
    background: #fff;
    padding: 25px;
    width: 80%;
    max-width: 300px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.popup-content h2 {
    margin-bottom: 10px;
}

.ok-btn {
    padding: 10px 20px;
    background: #4b2e2b;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    margin-top: 10px;
}

.ok-btn:hover {
    background: #73433e;
}
